{
  "extends": [
    "@nuxtjs/eslint-config-typescript"
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": [
      "off"
    ],
    "semi": [
      "off"
    ],
    "space-before-function-paren": [
      "off"
    ],
    "vue/html-self-closing": ["off"],
    "vue/no-v-html": ["off"],
    "vue/singleline-html-element-content-newline": ["off"]
  }
}
