.component-playground-data .component-playground-data-section[data-v-c1078dee]{padding:var(--space-4)}:root.dark .component-playground-data .component-playground-data-section[data-v-c1078dee]{background-color:var(--color-gray-900)}
