tbody td[data-v-04d83322]{font-family:var(--typography-font-body);padding:var(--prose-tbody-td-padding)}tbody td[data-v-04d83322]:first-child{padding-inline-start:0}tbody td[data-v-04d83322]:last-child{padding-inline-end:0}
